<a class="chats-list__item" href="/chat/" data-chat-id="{{id}}">
  <div class="chats-list__item-img">
    <img src="https://ya-praktikum.tech/api/v2/resources/{{ avatar }}" alt="{{ title }}">
  </div>

  <div class="chats-list__item-content">
    <span class="chats-list__item-title">{{ title }}</span>
    <span class="chats-list__item-desc">
      {{ last_message.content }}
    </span>
  </div>

  <div class="chats-list__item-info">
    <span class="chats-list__item-datetime">{{ this.last_message.time }}</span>
    {{#if unread_count }}
      <span class="chats-list__unread">
        {{ unread_count }}
      </span>
    {{/if}}
  </div>
</a>
