<form class="profile form">
  <div class="profile__content">
    <h1 class="profile__name">{{ title }}</h1>
    
    <div class="profile__fields">
      {{{ old-password-field }}}
      {{{ password-field }}}
      {{{ password-confirm-field }}}
    </div>

    <div class="profile__actions">
      {{{ button-save }}}
    </div>
  </div>
</form>
