<div class="profile">
  <div class="profile__content">
    <div class="profile__avatar">
      {{#if avatar }}
        <img src="{{ avatar }}" alt="{{ first_name }}">
      {{ else }}
        <img src="./../images/svg/placeholder.svg" alt="Изображение не загружено">
      {{/if}}
    </div>

    <h1 class="profile__name">{{ first_name }}</h1>

    <div class="profile__info">
      <div class="profile__info-item">
        <div class="profile__info-item-prop">Почта</div>
        <div class="profile__info-item-value">{{ email }}</div>
      </div>
      <div class="profile__info-item">
        <div class="profile__info-item-prop">Логин</div>
        <div class="profile__info-item-value">{{ login }}</div>
      </div>
      <div class="profile__info-item">
        <div class="profile__info-item-prop">Имя</div>
        <div class="profile__info-item-value">{{ first_name }}</div>
      </div>
      <div class="profile__info-item">
        <div class="profile__info-item-prop">Фамилия</div>
        <div class="profile__info-item-value">{{ second_name }}</div>
      </div>
      <div class="profile__info-item">
        <div class="profile__info-item-prop">Имя в чате</div>
        <div class="profile__info-item-value">{{ display_name }}</div>
      </div>
      <div class="profile__info-item">
        <div class="profile__info-item-prop">Телефон</div>
        <div class="profile__info-item-value">{{ phone }}</div>
      </div>
    </div>

    <div class="profile__actions">
      {{{ profile_edit_link }}}
      {{{ password_edit_link }}}
      {{{ logout_link }}}
    </div>
  </div>
</div>
