<form class="form {{#if classes}}{{classes}}{{/if}}">
  {{{ email-field }}}
  {{{ login-field }}}
  {{{ name-field }}}
  {{{ second-name-field }}}
  {{{ phone-field }}}
  {{{ password-field }}}
  {{{ password-confirm-field }}}
  <div class="form__buttons">
    {{{ button-register }}}
    {{{ button-auth }}}
  </div>
</form>
