<form class="form {{#if classes}}{{classes}}{{/if}}">
  {{{ login-field }}}
  {{{ password-field }}}
  <div class="form__buttons">
    {{{ button-auth }}}
    {{{ button-register }}}
  </div>
</form>
