<div class="chats-list">
  {{#each chats}}
    <a class="chats-list__item" data-chat-id="{{this.id}}">
      <div class="chats-list__item-img">
        {{#if this.avatar }}
          <img src="https://ya-praktikum.tech/api/v2/resources/{{ this.avatar }}" alt="{{ this.title }}">
        {{ else }}
          <img src="./../images/svg/placeholder.svg" alt="Изображение не загружено">
        {{/if}}
      </div>

      <div class="chats-list__item-content">
        <span class="chats-list__item-title">{{ this.title }}</span>
        <span class="chats-list__item-desc">
          {{ this.last_message.content }}
        </span>
      </div>

      <div class="chats-list__item-info">
        <span class="chats-list__item-datetime">{{ this.last_message.time }}</span>
        {{#if this.unread_count }}
          <span class="chats-list__unread">
            {{ this.unread_count }}
          </span>
        {{/if}}
      </div>
    </a>
  {{ else }}
    <span class="chats-list__empty">{{{ emptyText}}}</span>
  {{/each}}

  {{{add-chat-button}}}
  {{{add-chat-modal}}}
</div>
