{{#if items }}
  <div class="chat-conversation">
    {{#each items }}
      <span class="chat-conversation__date">{{ this.date }}</span>

      {{#each this.messages }}
        {{#if this.asset }}
          <div class="chat-conversation__message chat-conversation__message--asset">
            <img src="{{ this.asset }}" alt="{{ this.time }}">
            <span class="chat-conversation__timestamp">{{ this.time }}</span>
          </div>
        {{ else }}
          <div class="chat-conversation__message {{#if this.isMine }}chat-conversation__message--mine{{/if}}">
            <p>{{{ this.text }}}</p>
            <span class="chat-conversation__timestamp">
              {{#if this.isMine }}
                <span class="chat-conversation__status-icon">
                  {{#if this.isMine }}
                    {{#if this.read }}
                      <svg width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line y1="-0.6" x2="4.85679" y2="-0.6"
                                transform="matrix(0.705933 0.708278 -0.705933 0.708278 0.700195 2.71973)" stroke="#1eb759"
                                stroke-width="1.2"/>
                        <line y1="-0.6" x2="7.28519" y2="-0.6"
                                transform="matrix(0.705933 -0.708278 0.705933 0.708278 4.12909 6.16003)" stroke="#1eb759"
                                stroke-width="1.2"/>
                        <line y1="-0.6" x2="7.28519" y2="-0.6"
                                transform="matrix(0.705933 -0.708278 0.705933 0.708278 7.55731 6.16003)" stroke="#1eb759"
                                stroke-width="1.2"/>
                      </svg>
                    {{ else if this.delivered }}
                      <svg width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line y1="-0.6" x2="4.85679" y2="-0.6"
                                transform="matrix(0.705933 0.708278 -0.705933 0.708278 0.700195 2.71973)" stroke="#999999"
                                stroke-width="1.2"/>
                        <line y1="-0.6" x2="7.28519" y2="-0.6"
                                transform="matrix(0.705933 -0.708278 0.705933 0.708278 4.12909 6.16003)" stroke="#999999"
                                stroke-width="1.2"/>
                        <line y1="-0.6" x2="7.28519" y2="-0.6"
                                transform="matrix(0.705933 -0.708278 0.705933 0.708278 7.55731 6.16003)" stroke="#999999"
                                stroke-width="1.2"/>
                      </svg>
                    {{/if}}
                  {{/if}}
                </span>
              {{/if}}
              {{ this.time }}
            </span>
          </div>
        {{/if}}
      {{/each}}
    {{/each}}
  </div>
{{ else }}
  {{{ placeholder }}}
{{/if}}
