<div class="app">
  <aside class="app__sidebar">
    <div class="app__header">
      {{{ app-logo }}}
      {{{ profile-button }}}
    </div>
    {{{ search }}}
    {{{ chats-list }}}
  </aside>

  <div class="app__main">
    {{{ placeholder }}}
  </div>
</div>
