<form class="profile form">
  <div class="profile__content">
    <div class="profile__avatar profile__avatar--editable" data-change-text="Поменять аватар">
      {{#if avatar }}
        <img src="{{ avatar }}" alt="{{ userName }}">
      {{ else }}
        <img src="../images/svg/placeholder.svg" alt="Изображение не загружено">
      {{/if}}
    </div>

    <h1 class="profile__name">{{ title }}</h1>
    
    <div class="profile__fields">
      {{{ email-field }}}
      {{{ login-field }}}
      {{{ name-field }}}
      {{{ second-name-field }}}
      {{{ nickname-field }}}
      {{{ phone-field }}}
    </div>

    <div class="profile__actions">
      {{{ button-save }}}
    </div>
  </div>
</form>
